<%- contentFor('stylesheets') %>
<link rel="stylesheet" href="/stylesheets/individual.css" type="text/css">
<%- contentFor('body') %>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    Site Users List
                </h3>
            </div>
            <div>
                        <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                            <span class="m-subheader__daterange-label">
                                <span class="m-subheader__daterange-title"></span>
                                <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                        </span>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-3">
                                    <div class="m-form__section m-form__section--first">
                                        <div class="form-group m-form__group">
                                            <label for="m_form_status">
                                                Status
                                            </label>
                                            <select class="form-control m-bootstrap-select" id="m_form_status">
                                                <option value="">
                                                    All
                                                </option>
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-3">
                                    <div class="m-form__section m-form__section--first">
                                        <div class="form-group m-form__group">
                                            <div class="m-input-icon m-input-icon--left m--margin-top-30">
                                                <input type="text" class="form-control m-input" placeholder="Search..."
                                                       name="free_text_search"
                                                       id="generalSearchInput">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Search Form -->
                <!--begin: Datatable -->
                <div class="m_datatable" id="site_users_datatable"></div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>

</div>

<%- contentFor('scripts') %>
<script type="text/javascript">
  window.csrfToken = <%- JSON.stringify(locals.csrfToken) %>;
</script>
<script type="text/javascript" src="/scripts/datatables/site-users.js"></script>