
<div class="footer" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 10px;">
    <table width="100%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 10px;" align="center" valign="top">
                <p style="font-size: 11px">© 2017-18 The Gibraltar Blockchain Exchange (GBX Limited) &nbsp;&nbsp; • &nbsp;&nbsp; <a href="https://www.gbx.gi" target="_blank">www.gbx.gi</a> &nbsp;&nbsp; • &nbsp;&nbsp; Contact: &nbsp; <a href="mailto:rkt@gbx.gi">rkt@gbx.gi</a></p>
            </td>
        </tr></table></div>