#app-footer {
  background: $gray-darkest;
  color: white;
  padding: 30px 15px 20px 15px;
  text-align: center;

  p {
    a {
      color: white;
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .footer-contact, .footer-copy, .footer-terms  {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-contact {
      flex-basis: 25%;
      p {
        display: block;
      }
    }
    .footer-copy {
      flex-basis: 50%;
    }
    .footer-terms {
      flex-basis: 25%;
    }
  }

  .footer-menu {
    li {
      margin-bottom: 8px;
      width: 100%;
      a {
        color: white;
        &:hover {
          color: $red;
          text-decoration: none;
        }
      }
      i {
        width: 20px;
      }
    }
  }
  input {
    border-color: transparent;
  }

  .col-md-3, .col-md-2 {
    float:left;
  }

  .Cookie--base .Cookie__button {
    background: #ba374a;

    &:hover {
      background: #932b3a;
    }
  }
}
