.project-cards {
  display: flex;
  flex-wrap: wrap;

  &.recommended {
    border: 2px solid #BA374A;
    border-radius: 4px;
    padding-top: 15px;
    margin-bottom: 15px;
  }
}
.project-card-wrapper {
  width: calc( 25% - 30px );
  margin: 0 15px;
  margin-bottom: 15px;
}

.project-card {
  background: $gray-lightest;
  margin-bottom: 30px;
  border-radius: $border-radius-base;
  overflow: hidden;
  height: 100%;
}

.project-card-header {

}

.project-logo {
  background-position: center center;
  background-size: cover;
  height: 160px;
  width: 100%;
}

.project-card-body {
  padding: 10px 15px 5px;
}

.project-title {
  font-weight: 900;
  a {
    color: $text-color;
    &:hover {
      color: $red;
    }
  }
}

.project-card-footer {
  padding: 0 15px 20px;
}

.project-small-icon {
  text-align: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  &.icon-document {
    width: 15px;
    margin: 0 5px 0 5px;
  }
}

