
#intro-landing {
  background: url('../img/intro-bg-landing.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 150px 0;
  h1 {
    font-size: 72px;
  }
  .intro-form-wrapper {
    background: rgba(black, .5);
    border-radius: $border-radius-base;
    padding: 45px 100px 30px;
    form {
      margin: 30px 0;
    }
    input {
      text-align: center;
      border-color: transparent;
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
    }
  }
}


#crypto-exchange {
  background: $gray-lightest;
  .feature {
    margin: 30px 0 0;
    padding: 0 30px;
    img {
      width: 80px;
      margin: 0 auto 30px;
    }
    h4 {
      margin: 0 0 20px;
    }
  }
}


#gbx-is-a-subsidiary {
  img {
    margin: 10px 0 0;
  }
}


#listing-process {
  background: url('../img/gbx-trusted-listing-bg.jpg') no-repeat center top $gray-lightest;
  .btn {
    margin-top: 20px;
  }
}


#our-ecosystem {
  background: url('../img/our-ecosystem-bg.svg') no-repeat center bottom;
  .section-title {
    margin-bottom: 15px;
  }
  .section-subtitle {
    margin-bottom: 30px;
  }
}


#one-token-to-rule-them-all {
  .description {
    padding: 30px 0 60px;
  }
  .img-wrapper {

  }
  .text-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .feature {
    min-height: 200px;
  }
  .icon-wrapper {
    background: $gray-light;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 200px;
  }
  h5 {
    max-width: 200px;
  }
}


#stay-tuned {
  color: white;
  background: $gray-darker;
  .rocktocken-logo-wrapper {
    img {
      background: white;
      padding: 15px 30px;
      width: auto;
      margin: 0 auto 30px;
      border-radius: 100px;
    }
  }
  form {
    margin-bottom: 30px;
    .btn {
      margin-left: 10px;
    }
  }
}


#team {
  background: url('../img/team-bg.svg') center bottom no-repeat;
  background-size: contain;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
}
.team-member {
  margin-bottom: 30px;
  width: 25%;
}
.team-member-image-wrapper {
  max-width: 160px;
  margin: 0 auto 20px;
}
.team-member-image {
  border-radius: 500px;
}
.team-member-name {
  font-weight: 900;
}
.team-member-linkedin {
  height: 12px;
  width: 12px;
  display: block;
  margin: 0 auto;
}


#partners {
  background: $gray-lighter;
  .partner {
    padding: 0 20px 20px;
    a {
      display: block;
      width: 100%;
      filter: grayscale(100%);
      opacity: .8;
      img {
        margin: 0 auto;
      }
      &:hover {
        filter: none;
        opacity: 1;
      }
    }
  }
}
