.infographic-wrapper {
  max-width: 300px;
  margin: 0 auto;
}

#gbx-alliance-council {
  background: $gray-lightest;
}

#listing-protocol {
  background: $gray-lightest;
  ol {
    list-style: decimal-leading-zero;
  }
}

#page-about #list-your-ico {
  background: white;
}
