
// FILE INPUT
.picture-input {
  background: $gray-lighter;
  border-radius: $border-radius-base;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 10px !important;
  .preview-container {
    background: url('../img/icons/icon-camera.svg') center center no-repeat;
    background-size: 60px;
    canvas.picture-preview {
      background: transparent !important;
    }
  }
  &.file-input-pdf {
    .preview-container {
      background-image: url('../img/icons/icon-file-pdf-gray-20.svg');
    }
  }
  &.file-input-generic-document {
    .preview-container {
      background-image: url('../img/icons/icon-document-gray-20.svg');
    }
  }
  button {
    margin-bottom: 0 !important;
  }
}

// HEADER WITH COUNTER
.header-w-counter {
  .page-title {
    display: inline-block;
  }
  .heading-counter {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin: 0 0 0 15px;
    top: -5px;
    padding: 4px 5px;
    border: 1px solid $text-color;
    border-radius: $border-radius-base;
    .counter-title {
      margin-right: 20px;
      padding: 0 10px;
    }
    .counter-number {
      padding: 0 10px;
      border-right: 1px solid $gray-light;
      &:last-child {
        border: 0;
      }
    }
  }
}

#contribution-status-bar {
  position: relative;
  background-color: $gray-darkest;
  margin: 0;
  #contribution-status-bar-progress-cover {
    background-color: $brand-primary;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0%;
  }
  .contribution-server-error {
    background-color: $brand-primary;
    color: white;
    //min-height: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contribution-eth-amounts {
    // background-color: $gray-darkest;
    color: white;
    //min-height: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contribution-countdowns {
    // background-color: $gray-darkest;
    color: white;
    //min-height: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    //padding-left: 60px;
    h4 {
      margin: 0 0 1px;

      a i {
        color: white;
      }
    }
    p {
      margin: 0 0 1px;
    }
    .column-1 {
      border-right: 1px solid $gray-light;
      padding-left: 30px;
    }
    .column-2 {
      padding-left: 30px;
    }
  }
  .contribution-section-header {
    text-transform: uppercase;
    margin: 0;
  }
  .contribution-eth-raised-amount {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
  }
  .contribution-eth-cap {
    margin: 0 0 15px;
  }
  .counter {
    margin: 15px 0;
  }
}

.tab-contribute {
  background: $gray-lightest;
  padding: 40px 40px 50px;
  .tab-text {
    max-width: 500px;
    margin: 0 auto;
  }
}

.entitled-tokens-amount {
  background: rgba(186,55,74,0.4);
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  width: auto;
  display: block;
  padding: 15px;
  border-radius: $border-radius-base;
}

.contribute-icon-lg {
  @extend .img-responsive;
  width: 85px;
  margin: 0 auto;
  opacity: 0.6;
}

#profile-status {
  .btn {
    margin: 10px auto 5px;
  }
}

#faq-aside {
  .aside-title {
    font-weight: 900;
    margin: 0 0 15px;
  }
  .panel {
    margin: 0;
    border: 0;
    border-top: 1px solid $gray-lighter;
    border-radius: 0;
    box-shadow: none;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
  .panel-heading {
    background: none;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    border-radius: 0;
    user-select: none;
    i {
      float: right;
      font-size: 0.7em;
      position: relative;
      top: 6px;
      right: 0;
      transition: $transition-fast;
    }
  }
  .panel-body {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .purchase-guidance {
    margin-bottom: 15px;
    display: block;
  }
}

div[data-modal="contribution-overlay"] {
  .modal-body {
    padding: 50px;
  }
}

#page-contribute {
  .contribution_details {
    max-width: 635px;
    margin: 0 auto;

    .details-title {
      margin-bottom: 0;
    }
  }
  .important-note {
    font-size: 20px;
  }
  .footer-note {
    font-size: 14px;
    font-style: italic;
    color: grey;
  }
}

#page-verification, #page-profile {
  .form-control[disabled], .form-control[readonly], fieldset[disabled] {
    cursor: not-allowed;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &::selection { background: transparent; }
    &::-moz-selection { background: transparent; }
    &:focus, &:active, &:hover { border-color: #ccc; }
  }
}