
.projects-searchbar {
  padding: 30px 0 0;
}

/*====== SINGLE PROJECT ======*/

#project-intro {
  .project-video {
    display: flex;
    flex-wrap: wrap;
    min-height: 390px;
  }

  .project-image-wrapper {
    flex-basis: calc( 60% - 5% );
    margin-right: 5%;

    iframe {
      border-radius: 4px;
    }

    &> div {
      height: 100%;
    }
  }
  #project-details {
    flex-basis: 40%;
  }
}

#page-project {

}

#project-details {
}

// .project-image-wrapper {
//   width: 95%;
// }

.project-specs {
  .spec {
    margin-bottom: 15px;
    .column-1 {
      color: lighten($text-color, 50%);
    }
  }
}

.project-tabs {
  overflow: hidden;
  
  .container-tabs {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .nav {
    height: 60px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      float: none;
      display: block;
      width: 320px;
      margin-bottom: 0;

      a {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 21px;
        padding-bottom: 20px;
        border-radius: 0;
        color: $btn-default-color;
        border-color: #eeeeee;
  
        &:after {
          content: "";
          background: transparent;
          height: 5px;
          width: 100%;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:hover {
          background: transparent;
          color: $btn-default-color;
  
          &::after {
            background: $red;
          }
        }
      }

      &.active {
        a, a:hover, a:focus {
          background: transparent;
          color: $btn-default-color;
          border-color: transparent;

          &::after {
            content: "";
            background: transparent;
            height: 5px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $red;
          }
        }
      }

      &.disabled {
        opacity: .6;
        cursor: default;

        a, a:hover, a:focus {
          color: $white;
          background-color: $red;
          cursor: default;
          
          &::after {
            background: transparent;
          }
        }
      }
    } 
  }
}

