#page-listing {
  #page-intro {
    input {
      border-color: white;
      &:focus {
        box-shadow: 0 0 10px rgba(black, .8) !important;
      }
    }
  }
}

.input-group {
  position: relative;
  input {
    z-index: 2 !important;
  }
  .input-group-btn {
    z-index: 3 !important;
  }
}


#recommended-icos {
  padding-top: 50px;

  .recommended-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
  }

  .recommended-label {
    h2 {
      margin: 0;
    }
  }

  .btn {
    display: block;
  }
}

#gbx-is-something {
  padding-top: 0;
  .feature {
    margin: 30px 0 0;
    padding: 0 30px;
    img {
      width: 80px;
      margin: 0 auto 30px;
    }
    h4 {
      margin: 0 0 20px;
    }
  }
}

#list-your-ico {
  background: $gray-lightest;
}
